<style>
    .question{
        margin-top: 16px;
        font-weight: 800;
    }
    .answer{
        width: 65%;
        margin-left: 4%;
    }
</style>

<div class="row" style="margin-top: 50px;">

    <div class="row">
        <div class="col-md-2">
            <h4 style="text-decoration: underline;">About the Project</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="question">Why I Made This?</p>
            <div class="answer">
                <p>My goal for this project was to: (1) learn Angular 2, and (2) create an app that would help a local business by improving one aspect of its experience. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="question">What Does It Do?</p>
            <div class="answer">
                <p>
                    This app was made to record haircut appointments for a local barber shop where customers primary make appointments by phone.
                    As a customer, one of my least favorite part was making an appointment over the phone because it was unreliable or the person over the phone sounded rude.
                    However, since I really liked my barber and getting my haircut there, I wanted to create an app that would benefit them.
                </p>
            </div>
        </div>
    </div>

</div>